<br>
<div id="rcorner">
  <table class="table table-hover table-bordered table-sm" style="width:600px;" align="center">
    <thead>
      <tr>
        <th style="text-align:center; width:100px; background-color:#EDE574; color:grey">Users</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td style="padding: 10px; text-align:center; font-weight:bold;" class="align-middle">
            <%= link_to user.user_name, current_user, {:style => 'color:black'} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>


<div class="text-center">
   <button type="button" id="butt" >
     <%= link_to 'Back', search_path, {:style => 'color:#594F4F;'}%>
     <!-- /users/#{@user.id}/searches/new -->
   </button>
</div>

<!--new_search_path  -->

<br>
