@import "~bootstrap/scss/bootstrap"; // never forget the semicolon at the end
//@import "./_custom";





// app/javascript/stylesheets/application.scss
//@import "~bootstrap/scss/bootstrap"; // never forget the semicolon
//@import "./_custom";
//@import "stylesheets/home";
