<p id="notice"><%= notice %></p>
<div id="rcorner">
  <h1 style="text-align:center">
    <button type="button" style="font-family:Sans-serif; font-weight:bold;" class="btn btn-lg text-white" data-toggle="tooltip" data-placement="right" title="Today it's a good day, eh?">
      News Feed Article
    </button>
  </h1>

  <table class="table table-hover table-bordered table-sm" style="width:600px;" align="center">
    <thead>
      <tr>
        <th style="text-align:center; width:100px;" class="table-warning ">Score</th>
        <th style="text-align:center; " class="table-dark">Content</th>
      </tr>
    </thead>

    <tbody>
      <!-- sort the news feed articles based on their scores -->
      <% sorted_search = @searches.sort_by { |obj| -obj.score } %>
      <!-- only show the top five articles to the front page -->
      <% topfive = @searches.count < 5 ? @searches.count : 5 %>
      <!-- < % sorted_search.each do |search| %> -->
      <% topfive.times do |i| %>
        <tr>
          <td style="padding: 10px; text-align:center; font-weight:bold;" class="align-middle">
            <%= sorted_search[i].score %>
          </td>
          <td style="width: 100%; padding: 15px; text-align:center;" >
            <%= " \" #{sorted_search[i].text} \" " %>
          </td>
          <td style="padding: 15px; text-align:center;">
            <span onclick="myFunction(this)" class="heart"></span>
          </td>
        <!--
        <td>< %= link_to 'Show', search %></td>
        <td>< %= link_to 'Edit', edit_search_path(search) %></td>
        <td>< %= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="text-center">
   <button type="button" id="butt" >
     <%= link_to 'Search', new_search_path, {:style => 'color:#594F4F;'}%>
   </button>
</div>

<br>
