<p id="notice"><%= notice %></p>
<div id="rcorner">
  <h1 style="text-align:center">
    <button type="button" style="font-family:Sans-serif; font-weight:bold;" class="btn btn-lg text-white" data-toggle="tooltip" data-placement="right" title="Today it's a good day, eh?">
      News Feed Article
    </button>
  </h1>

  <br>

  <table class="table table-hover table-sm" style="width:600px;" align="center">
    <thead>
      <tr>
        <th style="text-align:center; width:100px; background:#45ADA8">Score</th>
        <th style="text-align:center; " class="table-dark">Content</th>
      </tr>
    </thead>

    <tbody>
      <% @searches.each do |search| %>
        <tr>
          <td style="padding: 10px; text-align:center; font-weight:bold; background:#9DE0AD" class="align-middle"><%= search.score %></td>
          <td style="width: 100%; padding: 15px; text-align:center; background:#E5FCC2" >
            <%= " \" #{search.text} \" " %>
          </td>
        <!--
        <td>< %= link_to 'Show', search %></td>
        <td>< %= link_to 'Edit', edit_search_path(search) %></td>
        <td>< %= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
        </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>

<div class="text-center">
   <button type="button" id="butt" >
     <%= link_to 'Search', new_search_path, {:style => 'color:#FFFFFF;'}%>
   </button>
 </div>
