
<br>
<%= render 'form', search: @search %>

<br>

<div class="text-center">
   <button type="button" id="butt" >
     <%= link_to 'Back', searches_path, {:style => 'color:#594F4F;'}%>
   </button>
</div>
